*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    color: #ffffff;
}

body {
    background-image: url(Resources/Background.png);
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}
article{
    background-color: rgba(0, 0, 0, 0.5);
    height:1080px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid gray;
}
a {
    text-decoration: none;
    color: rgba(153, 221, 255, 0.5);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: rgb(77, 195, 255);
}




h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

h3 {
    display: inline-block;
    -webkit-margin-after: 0;
    -webkit-margin-end: 1em;
}
#login{
    font-size: 25px;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #ff9900;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #ff9900;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.rating-box {
    margin-left: 30px;
    clear:both;
}

input[type="submit"] {
    float: left;
}

.clear {
    clear: both;
}

.rating-radio {
    float:left;
    margin:0 5px 10px 0;
    width:100px;
    height:40px;
    position:relative;
    padding: 0;
}

.rating-radio label, .donate-now input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.rating-radio input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.rating-radio input[type="radio"]:checked + label,
.checked + label {
    background:#DDD;
}

.rating-radio label {
    padding:10px 5px;
    border:1px solid #CCC;
    cursor:pointer;
    z-index:90;
    text-align: center;
}

.rating-radio label:hover {
    background:#DDD;
}